cython
pycocotools
submitit
torch>=1.5.0
torchvision>=0.6.0
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
scipy
onnx
onnxruntime
pandas
seaborn
opencv-python
numpy
git+https://github.com/facebookresearch/detectron2.git